h1{
  color:red,
  text-align:center
  font-family:Alegrian,
}

h2{
color:blue,
  text-align:center
  font-family:Courier,
 }

h3{
color:Green,
  text-align:center
  font-family:Lucide Console,
}

h4{
color:magenta,
  text-align:center
  font-family:Monotype corsiva,
}
 
  